<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="js/Bootstrap/jquery.js" ></script>

    <title>123</title>
    <link rel="stylesheet" href="css/Bootstrap/bootstrap.min.css">

</head>

<body>
navbar-dark bg-dark
<nav class="navbar  navbar-expand-xl">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown06" data-toggle="dropdown" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown06">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </li>
    </ul>
</nav>


<div id="vue" class="border">


    <div class="input-group mb-3">
        <div class="input-group-prepend">

            <span>天气查询</span>
        </div>
        <input  @keyup.enter="searchStudio" v-model="studio" placeholder="影厅名称" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>

    <ul class="studio_list" @load="searchStudio">
        <li v-for="item in studioList">
            <b>{{ item.id }}</b>
            <br>
            <span>{{ item.name }}</span>&nbsp;
            <span>{{ item.rowCount }}</span>&nbsp;
            <span>{{ item.colCount }}</span>
            <span>{{ item.introduction }}</span>
        </li>
    </ul>
</div>



<script src="js/Bootstrap/jquery.js"></script>
<script src="js/Bootstrap/bootstrap.min.js"></script>
<!--axios-->
<script src="js/axios.min.js"></script>
<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="js/vue.min.js"></script>
<script type="text/javascript">
    var app = new Vue({
        el:"#vue",
        data:{
            studio:"",
            studioList:[]
        },
        methods:{
            searchStudio:function () {
                var that = this;        //保存this
                axios.post('../StudioServlet?type=search&name='
                    +this.studio)
                    .then(function (response) {
                        that.studioList = response.data;
                        console.log(response);
                    })
                    .catch(function (err) {
                    })
            }
        }
    })
</script>
</body>
</html>
